button.v-btn {
    &.v-btn--disabled {
        background-color: transparent;
        box-shadow: none;
    }

    &.v-date-picker-table__current {
        border: none;
        box-shadow: 0 1px 0 0 var(--v-primary-lighten1), inset 0 -1px 0 0 var(--v-primary-base);
    }

    &:hover {
        &::before {
            opacity: 0;
        }

        margin-top: -1px;
        box-shadow: 0 1px 0 0 #c5c5ca, inset 0 -1px 0 0 #4e4e56;
    }

    background-color: white;
    transition: all 0.3s;
    box-shadow: 0 1px 0 0 #c5c5ca;
    margin: 2px;
    border-radius: 0.4em;
}